
header {
  background-color: dodgerblue;
  color: #ffffff;
  padding: 20px 20px;
  font-size: 24px;
}

main {
  display: flex;
  height: 100vh;
}

aside {
  flex: 1;
  border-right: 1px solid #cccccc;
}

section {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.step {
  width: 150px;
  text-align: center;
  margin-top: 10px;
}

.newStepModal {
  border: 1px solid #cccccc;
  width: 400px;
  text-align: center;
}

.stepTypesContainer {
  display: flex;
}

.stepType {
  border: 1px solid #cccccc;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 5px 5px 5px;
  height: 100px;
}

.delayCard {
  border-radius: 20px;
  border: 2px dashed #00b1b1;
}

.emailCard {
  border: 2px dashed orange;
}

.yesSide {
  position: relative;
  right: 50px;
}

.yesSquare {
  border: 1px solid forestgreen;
  background-color: #bdefbd;
}

.noSide {
  position: relative;
  left: 50px;
}

.noSquare {
  border: 1px solid #d03f88;
  background-color: #efbdd6;
}

.conditionContainer {
  display: flex;
  justify-content: space-between;
}

.yesBranchModal {
  position: relative;
  right: 110px;
}

.noBranchModal {
  position: relative;
  left: 110px;
}
